<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968859831836-fptpcpkbrh68tcau6n1sq1o2gl5h6pkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968859831836-fptpcpkbrh68tcau6n1sq1o2gl5h6pkf</string>
	<key>API_KEY</key>
	<string>AIzaSyAT24dY2kFuKWWoVfp8TU19fMcpOQyPVuE</string>
	<key>GCM_SENDER_ID</key>
	<string>968859831836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mirian-maglakelidze.OnlineFitnessTrainerApp</string>
	<key>PROJECT_ID</key>
	<string>onlinefitnessapp-81f4b</string>
	<key>STORAGE_BUCKET</key>
	<string>onlinefitnessapp-81f4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968859831836:ios:55a72e0e5bf9a0ab6659d9</string>
</dict>
</plist>